.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.grid > div {
  padding: 1rem;
  font-size: 0.9rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
}
